
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<section class="contenidoSection">
    <div class="contenidoDiv">
        @*Seccion de graficos*@
        <section class="graficosSection">
            <div class="graficoA">
                <center><h2 class="h2Exam"> Espacio para el grafico Generado</h2></center>
            </div>
            <div class="graficoB">
                <center><h2 class="h2Exam"> Espacio para el grafico Generado</h2></center>
            </div>
            <div class="graficoC">
                <center><h2 class="h2Exam"> Espacio para el grafico Generado</h2></center>
            </div>
            <div class="graficoD">
                <center><h2 class="h2Exam"> Espacio para el grafico Generado</h2></center>
            </div>
        </section>
        @*Tareas + Periodico Virtual y modulos*@
        <section class="tareasmoduloSection">
            <div class="tareasDiv">
                <p><img src="~/Imagenes/que-hacer.png" /> &nbsp; &nbsp;Mis tareas</p>
                <hr class="claseDivicion" />
                <p><input type="checkbox" id="switch1" /><label for="switch2">Toggle</label> Acá se genera la lista de tareas por realizar.</p>
            </div>
            <div class="moduloDiv">
                <p class="fadeIn two">Módulo de capacitación y periódico virtual.</p>
                <img class="fadeIn three" src="~/Imagenes/lineas-de-texto.png" />
                <a class="linkPrincipal" href="http://aprendeyavanza2.com.co/plenamentecap">Ir a Modulos</a>
            </div>
        </section>
        @*Tareas + Grafico Global*@
        <section class="tareasmoduloSection">
            <div class="tareasDiv">
                <p><img src="~/Imagenes/que-hacer.png" /> &nbsp; &nbsp;Mis tareas</p>
                <hr class="claseDivicion" />
                <p><input type="checkbox" id="switch" /><label for="switch1">Toggle</label> Acá se genera la lista de tareas por realizar.</p>
            </div>
            <div class="moduloDiv">
                <h1 style="text-align: center">Espacio para grafico Global</h1>
            </div>
        </section>
    </div>
</section>
