Modificar textos
line-height para modificar el alto de linea
font-size para modificar el tamaño de la fuente
font-weight para modificar el tipo de fuente
font-style para modificar el estilo de la fuente
letter-spacing para modificar el espacio entre letras
text-transform para transformar la fuente (mayusculas, minuculas, etc)
text-decoration para moodificar la decoración de la fuente 

background-color para agregar unn color de fondo
color para agregar un color al texto
text-decoration para modificar la decoración del texto
background-image para agregar una imagen de fondo
background-size para modificar el tamaño del background asignado
background-repeat para modificar la repetición del backgound asignado  
background-position para modificar la posición del bakground asignado
background-repeat: no repeat;

box-sizing: Border-box; Evita que el elemento crezca obedeciendo width y height

display:block; Hace que el elemento quiera aplicar o ocupar todo el ancho posible. 
display: inline; Algo que espera mas contenido a su lado. (ocupa todo su espacio) Ignora las medidas establecidas
display: inline-block no ignora medidas pero si se afecta por el relleno del modelo de caja
Display: Flex El objeto padre lo hereda y son border "felixbles por todo lo ancho"
 El display tipo flex ya no ocasiona "Margin Collapsing"
	.flex{ /*Padre de la clae box*/
		display:flex;
		flex-wrap: nowrap; or Wrap; /*deja que lo elementos ocupen el ancho necesario o los deje caer manteniendo
										medidas de pantalla*/
		justify-content: flex-start; /*Deja los elementos desde donde inician (izquiera)*/
							flex-end; /* Deja los elementos hacia la derecha*/
							center   /*Deja los elementos en el centro del ancho */
							space-around /*parecido a evenly pero con propiedades propias mezcla el between */
							space-between /*Deja espacios en todos lo elementos menos los de los bordes */
							space-eveny /*Deja espaciados iguales entre todos los elementos */
		vertical 
		align-items: flex-start; /*Alinea todo arriba */ 
					 flex-end; /*Alinea todo abajo */
					 center;
		flex-direction: column /*vertical*/
		flex-direction: row  /* horizontal*/
		 !OJO Segun orientacion las demas propiedades cambian segun el eje! 
	}
	Tiene la propiedad de Flex-Direction:  Row or Colummn
		.box { /* Es un Hijo de la clase con la propiedad Flex para hacer que no "Flexibilixe las medidad para evitar ignorarlas*/
			flex-shrink: 0-1; Nada encogible-demasiado flexible
			align-self: flex- start end center; /* Esta propiedad ayuda a que los hijos se puedan posicionar donde quieran */
		}
Display: Grid;
		Para los Lo, Lu y li
			list-style: none;jj


Recuerda padres e hijos ya que las propiedades se heredan! 

Maria Jose, la verdad estoy triste.
Ayer solo queria llamarte y hablarte, decirte que estaba muy feliz por haberte visto pero de la nada,
pum te pones seria, monosilaba y es feo...
Principalmente por que ¿Real? te pones en esa actitud por unos likes
en Instagram los cuales: 	
	A) Son antiguos
	B) De una cuenta que ya deje de seguir, despues de haber hablado el tema entre los dos.
	C) Cuenta de una persona que ni hace parte de mi circulo social. ni veo y realmente ni conozco
¿De verdad?
Entiendo que te molesten o den celos o lo que sea que te den... para dejarte pensando tanto
y por eso trate de decirte como 15 veces que tu eres la más linda frente a mis ojos por el simple
hecho de ser mi novia y por que te amaba. ¿pero que hacias? quedarte callada sin decir nada. 


me parece de no creer que estemos así por un tema tan superfluo y mucho más que te empeñes en creer que "por mi forma de decir algo" ya me refería a quien sabe que otro montón de cosas cuando en verdad  *no era por nada mas* y es más te estoy diciendo que solo era por el tema de ayer pero,al igual que ayer no me estas escuchando solo te empañas en tu posición de que estas como estas y ya, cuando en verdad no lo decía por *nada más* 

No es que fuera el fin del mundo, pero tampoco es justo conmigo. Me celas por alguien que ni veo, ni conozco ni me hablo, lo entiendo, desde la ultima vez;  por que te molestaba dejo de seguirla   y todo lo que pudiera ocasionar el mismo problema, dejo de dar likes a niñas en Instagram y... ¿Otra vez?  entonces que hago para que no te pase? era por inseguridad y  ¿que hice? Decirte todo lo que siento por ti y como te ves a mis ojos pero ¿y? de que me sirvió de nada, te entro y te salio por un oído...  y cuando te digo que  estaba cansado y que tampoco fue un día fácil eso tampoco importo... pero igual segui intentado confontarte y calmarte pero no sirivio antes seguias igual
y encima empiezas a decir cosas como "Ah entonces yo tambien voy a hacerlo" como que? como amenaza o Ojo por ojo? osea no. Y si te molesto que lo de los likes era una bobada perdoname pero a mi eso no me molesta. no por que sea un importaculista sino por que yo confio en tí y no me empiezo a hacer quien sabe que cuentos en la cabeza por que conozco a la mujer que tengo a mi lado y por eso la escogi. ¿Que si no tengo celos? Obvio muchas cosas me dan celos, que te miren, que te caigan, que te coqueteen y así eso si me ocasiona celos por que ya son acciones clarisimas. Yo soy una persona muy tranquila en ese tema y ya, 