@model IEnumerable<Plenamente.Models.ViewModel.CriteriosViewModel>

@{
    ViewBag.Title = "Autoevaluación SST";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}
<div class="colorVerdeBack">
    <p>Autoevaluación SST</p>
</div>
<div class="container">
    @foreach (var criterio in Model)
    {
        <hr />
        <div class="panel panel-default">
            <div class="panel-heading"><h2>@criterio.Nombre</h2></div>
            <div class="panel-body">
                <hr />
                @if (criterio.Estandares != null)
                {
                    <div class="well well-lg" style="padding-left: 30px;">
                        @foreach (var estandar in criterio.Estandares)
                        {
                            if (estandar.Elementos != null)
                            {
                                <br />
                                <h3>@estandar.Nombre</h3>
                                <br />
                                foreach (var elemento in estandar.Elementos)
                                {
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            @elemento.Descripcion
                                            <br />
                                         
                                            <br />
                                            <div class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" id="Cumple" name="Cumple">
                                                <label class="custom-control-label" for="Cumple">Cumple</label>
                                            </div>
                                            <div class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" id="NoCumple" name="NoCumple" checked>
                                                <label class="custom-control-label" for="NoCumple">No cumple</label>
                                            </div>
                                            <div class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" id="Justifica" name="Justifica">
                                                <label class="custom-control-label" for="Justifica">Justifica</label>
                                            </div>
                                            <div class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" id="Nojustifica" name="Nojustifica" checked>
                                                <label class="custom-control-label" for="Nojustifica">No justifica</label>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleFormControlTextarea1">Large textarea</label>
                                                <textarea class="form-control rounded-0" id="exampleFormControlTextarea1" rows="10"></textarea>
                                            </div>
                                        </li>
                                    </ul>
                                }
                            }
                        }
                    </div>
                }
            </div>
            <div class="panel-footer"></div>
        </div>
    }
</div>
<div class="contenidoVolver">
    <a href="@Url.Action("Index", "Home")" class="ayudaTitulos">
        <span>Volver al inicio</span> <img src="~/Imagenes/flecha-hacia-la-izquierda.png" />
    </a>
</div>