
@{
    ViewBag.Title = "Indicadores";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}
<div class="colorVerdeBack">
    <p>Indicadores</p>
</div>
<div class="contenidoCuerpo">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <canvas id="chartPromedio" class="chart-container"></canvas>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <canvas id="chartAvance" class="chart-container"></canvas>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <canvas id="chartUltima" class="chart-container"></canvas>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/chartjs")
    <script>
        Chart_Load('chartPromedio', "/Indicadores/PromedioAutoevaluaciones", 'horizontalBar');
        Chart_Load('chartAvance', "/Indicadores/AvanceAutoevaluaciones", 'line');
        Chart_Load('chartUltima', "/Indicadores/UltimaAutoevaluacion", 'pie');
    </script>
}
