@model Plenamente.Models.ApplicationUser
@{
    ViewBag.Title = "EditarUser";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<div class="colorVerdeBack">
    <p> Editar Usuario </p>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="centrarContenido">
        <hr />


        </div> 
}
