@using Microsoft.AspNet.Identity
    <div class="titulosBanner">
        @if (Request.IsAuthenticated)
        {
            
            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
            {
                @Html.AntiForgeryToken()

                <div class="row titulosBanner">
                    <div class="col-lg-6 col-sm-6 col-md-6">
                        @Html.ActionLink("Bienvenido A Plenamente Trabajando " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                    </div>
                    <div class="col-lg-6 col-sm-6 col-md-6 text-right">
                        <a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="contenidoMenu">
                <ul>
                    <li>Bienvenido a Plenamente Trabajando</li>
                </ul>
            </div>
        }
        
    </div>