@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm"}))
    {
    @Html.AntiForgeryToken()

    <ul>
        <li>
            @Html.ActionLink("Bienvenido A Plenamente Trabajando " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a></li>
    </ul>
    }
}
else
{
    <div class="contenidoMenu">
        <ul>
            <li>Bienvenido a Plenamente Trabajando</li>
        </ul>
    </div>
}
