@{
    ViewBag.Title = "error";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}
<div class="row">
<div class="col-lg-3"></div>
<div class="col-lg-6">
    <h2 class="colorVerde text-center" style="padding:20px">Completa los otros modulos para poder continuar</h2>
</div>
<div class="col-lg-3"></div>
    </div>
<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <img src="~/Imagenes/Plenamente2.png" width="100%" />
    </div>
    <div class="col-lg-3"></div>
</div>
