
@{
    ViewBag.Title = "Guía";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<section class="contenidoSection">
    <div class="contenidoDiv">
        <div class="colorVerdeBack">
            <p> Guía de navegación  </p>
        </div>
        <div class="centrarContenido">
            <iframe style="width: 100%; height: 60vh;"
                    src="https://www.youtube.com/embed/vEratcN0TjE"
                    frameborder="0"
                    allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
    </div>
</section>