@{
    ViewBag.Title = "Home Page";
}

<div class="dobleContenedor">
    <div class="primerContenedor">
        <img src="~/Imagenes/brooke-cagle-1181684-unsplash.jpg" />
    </div>
    <div class="segundoContenedor">
        <div class="wrapper fadeInDown">
            <div id="formContent">
                <!-- Tabs Titles -->
                <!-- Icon -->
                <div class="fadeIn first">
                    <img class="imagenLogin" src="~/Imagenes/Plenamente2.png" />
                </div>

                <!-- Login Form -->
                <form asp-controller="Home" asp-action="Index" method="post">
                    <input type="email" id="login" class="fadeIn second" placeholder="Usuario">
                    <br />
                    <input type="password" id="password" class="fadeIn third" placeholder="Contraseña">
                    <br />
                    <input type="submit" class="fadeIn fourth" value="Iniciar Sesión">
                </form>

                <!-- Remind Passowrd -->
                <div id="formFooter">
                    <a class="underlineHover">¿Olvidó su contraseña?</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="fotterPrincipal">
    <div class="textoFotter">
        <div class="imagenesContacto">
            <img src="~/Imagenes/marcador-de-posicion.png" />
            <img src="~/Imagenes/bocadillo.png" />
            <img src="~/Imagenes/mano-sosteniendo-smartphone.png" />
        </div>
        <div class="textoContacto">
            <a class="underlineHover" href="#">Carrera 16 No 31A-27 <br />Bogotá-Colombia</a>
            <a class="underlineHover" href="#">contacto@plenamentetrabajando.com</a>
            <a class="underlineHover" href="#">+57 311 2666 345</a>
        </div>
    </div>
    <div class="redesSociales">
        <a href="#"><img src="~/Imagenes/Logo_FB.png" /></a>
        <a href="#"><img src="~/Imagenes/Logo_INT.png" /></a>
        <a href="#"><img src="~/Imagenes/Logo_TW.png" /></a>
        <a href="#"><img src="~/Imagenes/Logo_YT.png" /></a>
    </div>
</div>
@*@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}*@